.table-container{
    width: 50%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin: 25px;
}
.text{
    text-align: center;
    font-size: 1.5rem;
}
.tables{
    width: 100%;
}
.tables{
    border-collapse: collapse;
}
.rows:nth-child(even){
    background-color: rgb(164, 164, 164);
}
.rows:nth-child(odd){
    background-color: rgb(238, 238, 235);
}
#leftmenu{
    width: 75%;
    margin: 0 auto;
}


.Logo1 {
    font-size: 50px;
    padding: 0 0;
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}

.logo-text1 {
    margin-left: 47px;
    font-weight: 450;
    color: orange;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 36);
   
}

.navbar__links1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navbar__item1 {
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-right: 35px;
}