.books__item {
    background-image: url("./../Assets/Images/Book page image.jpg"); 
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 150px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    padding: 75px 150px; 
    border-radius: 25px; 
}

.books__item {
    font-size: 65px;
    font-weight: 600;
    
}

.books__text {
    font-size: 22px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 0 150px;
    text-align: center;
    font-weight: 500;
}


.container {
    font-size: 10px;
    padding: 50px 100px;
}

.book {
    box-shadow: 0 0 10px 5px rgb(192, 189, 189);
    padding: 25px 30px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
}

.book__text {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.description {
    padding-left: 70px;
}

.title{
    margin-bottom: 10px;
}

.readnow__button {
    padding: 12px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 1, 38);
    margin-left: 900px;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 10px;
    transition: 0.3s;

}

.readnow__button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 35, 42);
    color: rgb(2, 1, 61);
}

.home {
    display: flex;
    flex-direction: column;
}


.books {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: auto;
    column-gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 280px;
}

.grid-items {
    width: 400px;
    border: 2px solid rgb(121, 119, 119);
    border-radius: 5px;
}


.thumbnail img{
    width: 100%;
    height: 250px;
}

.grid-text {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 500;
}


